@{
    ViewData["Title"] = "About";
}

<!DOCTYPE html>
<html>
<head>
 </head>


<body>
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>

    <p>Biodiversité des écosystèmes pélagiques océaniques pour une meilleure conservation et gestion des zones naturelles exceptionnelles de Nouvelle-Calédonie et de Wallis & Futuna</p>

    <h4>BIOPELAGOS en bref</h4>


    <p><strong>Durée</strong>: 3 ans, 30 juin 2016 - 29 juin 2019</p>
    <p><strong>Financement</strong>: programme BEST 2.0 (UE) : 400,000€</p>
    <p><strong>Mise en œuvre</strong>: CPS et IRD</p>
    <p><strong>Partenaires</strong>: Wallis et Futuna et Nouvelle-Calédonie</p>
    <p><strong>Objectif</strong>: apporter un soutien aux partenaires pour des prises de décision sur la gestion et la conservation de la biodiversité des écosystèmes océaniques</p>
    <p>
        <strong>Thématiques</strong>
        <ol>
            <li>Acquisition de nouvelles connaissances</li>
            <li>Renforcement des capacités</li>
            <li>Synthèse des connaissances et conseils</li>
        </ol>
    </p>

</body>
</html>

