@{
    ViewData["Title"] = "Contact";
}
<!DOCTYPE html>
<html>
<head>



    <link rel="stylesheet" href="~/lib/leaflet/leaflet.css" />

    <script src="~/lib/leaflet/leaflet.js"></script>

</head>

<body>
    <h2>@ViewData["Title"]</h2>
    <p><a asp-area="" asp-controller="Home" asp-action="Index">Clic to go back Home</a></p>

    <h3>@ViewData["Message"]</h3>

    <address>
        <br>Pacific Community Headquaters<br />
    </address>

    <address>
        95 promenade Roger Laroque<br />
        BP D5<br />
        98848 Nouméa<br />
        New Caledonia<br />
    </address>

    <address>
        <abbr title="Phone number">Phone:</abbr>+687 26 20 00
    </address>

    <address>
        <strong>Email:</strong> <a href="mailto:spc@spc.int">spc@spc.int</a><br />
    </address>

    <div id="map">
    </div>

    <script>

        var map = L.map('map')
            .setView([-22.3023000, 166.442700], 16); //latitude,longitude,zoom

        var markerSPC = L.marker([-22.3023000, 166.442700]).addTo(map);
        markerSPC.bindPopup("<b>Pacific Community Headquarters</b><br>95 Promenade Roger Laroque<br>BP D5<br>98848 Noumea<br>New Caledonia").openPopup();

        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
            maxZoom: 19,
            minZoom: 11
        }).addTo(map);




    </script>

</body>

</html>