@{
    ViewData["Title"] = "Page d'accueil";
    ViewData["Message"] = "Carte géographique Wallalis";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p><a asp-area="" asp-controller="SetBases" asp-action="Index"><input type="submit" value="Voir les données des stations" /></a></p>


<div id="map">
    <script src="https://gist.github.com/ldelavois/c473d4e243f51facff78e64c159bf3de.js"></script>
</div>
