@{
    ViewData["Title"] = "Page d'accueil";
    ViewData["Message"] = "Carte géographique Wallalis";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/leaflet/leaflet.css" asp-append-version="true" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<script src="~/lib/leaflet/leaflet.js" asp-append-version="true"></script>
<script src="~/lib/jquery/dist/jquery-2.1.1.min.js"></script>
<script src="~/lib/leaflet/leaflet.ajax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>



<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p><a asp-area="" asp-controller="SetBases" asp-action="Index"><input type="submit" value="Voir les données des opérations" /></a></p>
<p>
    Si les points sur la carte ne s'affichent pas, veuillez cliquer ajouter un "/" à la fin de l'URL.
    <br>
    <div class="btn-group">
            <button type="button" id="all" class="btn btn-info">Tous</button>
            <button type="button" id="zooplankton" class="btn btn-success">Zooplankton</button>
            <button type="button" id="ctd" class="btn btn-warning">CTD/Water</button>
            <button type="button" id="micronekton" class="btn btn-danger">Micronekton</button>
        </div>

    <div id="map"></div>

    <script src="~/js/wallalismap.js" type="text/javascript"></script>


    <br />
<p>Cliquer sur une station pour voir ses informations</p>

