@model WebBiopelagos.Web.Models.Fish

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Fish</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FishId" />
            <div class="form-group">
                <label asp-for="TmpPredatorId" class="control-label"></label>
                <input asp-for="TmpPredatorId" class="form-control" />
                <span asp-validation-for="TmpPredatorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SetBaseId" class="control-label"></label>
                <select asp-for="SetBaseId" class="form-control" asp-items="ViewBag.SetBaseId"></select>
                <span asp-validation-for="SetBaseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CsiroId" class="control-label"></label>
                <input asp-for="CsiroId" class="form-control" />
                <span asp-validation-for="CsiroId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FishTypeId" class="control-label"></label>
                <select asp-for="FishTypeId" class="form-control" asp-items="ViewBag.FishTypeId"></select>
                <span asp-validation-for="FishTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SamplingDate" class="control-label"></label>
                <input asp-for="SamplingDate" class="form-control" />
                <span asp-validation-for="SamplingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatchTime" class="control-label"></label>
                <input asp-for="CatchTime" class="form-control" />
                <span asp-validation-for="CatchTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HookNo" class="control-label"></label>
                <input asp-for="HookNo" class="form-control" />
                <span asp-validation-for="HookNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReelNo" class="control-label"></label>
                <input asp-for="ReelNo" class="form-control" />
                <span asp-validation-for="ReelNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DropNo" class="control-label"></label>
                <input asp-for="DropNo" class="form-control" />
                <span asp-validation-for="DropNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FishNo" class="control-label"></label>
                <input asp-for="FishNo" class="form-control" />
                <span asp-validation-for="FishNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsOfInterest" /> @Html.DisplayNameFor(model => model.IsOfInterest)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="OwnershipId" class="control-label"></label>
                <input asp-for="OwnershipId" class="form-control" />
                <span asp-validation-for="OwnershipId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpeciesId" class="control-label"></label>
                <select asp-for="SpeciesId" class="form-control" asp-items="ViewBag.SpeciesId"></select>
                <span asp-validation-for="SpeciesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LengthMm" class="control-label"></label>
                <input asp-for="LengthMm" class="form-control" />
                <span asp-validation-for="LengthMm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LengthCodeId" class="control-label"></label>
                <select asp-for="LengthCodeId" class="form-control" asp-items="ViewBag.LengthCodeId"></select>
                <span asp-validation-for="LengthCodeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LengthMm2" class="control-label"></label>
                <input asp-for="LengthMm2" class="form-control" />
                <span asp-validation-for="LengthMm2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LengthCodeId2" class="control-label"></label>
                <select asp-for="LengthCodeId2" class="form-control" asp-items="ViewBag.LengthCodeId2"></select>
                <span asp-validation-for="LengthCodeId2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LengthMm3" class="control-label"></label>
                <input asp-for="LengthMm3" class="form-control" />
                <span asp-validation-for="LengthMm3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LengthCodeId3" class="control-label"></label>
                <select asp-for="LengthCodeId3" class="form-control" asp-items="ViewBag.LengthCodeId3"></select>
                <span asp-validation-for="LengthCodeId3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CalculatedWtGr" class="control-label"></label>
                <input asp-for="CalculatedWtGr" class="form-control" />
                <span asp-validation-for="CalculatedWtGr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeightGr" class="control-label"></label>
                <input asp-for="WeightGr" class="form-control" />
                <span asp-validation-for="WeightGr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeightCodeId" class="control-label"></label>
                <select asp-for="WeightCodeId" class="form-control" asp-items="ViewBag.WeightCodeId"></select>
                <span asp-validation-for="WeightCodeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GonadWeightGr" class="control-label"></label>
                <input asp-for="GonadWeightGr" class="form-control" />
                <span asp-validation-for="GonadWeightGr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SexId" class="control-label"></label>
                <select asp-for="SexId" class="form-control" asp-items="ViewBag.SexId"></select>
                <span asp-validation-for="SexId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo1" class="control-label"></label>
                <input asp-for="Photo1" class="form-control" />
                <span asp-validation-for="Photo1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo2" class="control-label"></label>
                <input asp-for="Photo2" class="form-control" />
                <span asp-validation-for="Photo2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo3" class="control-label"></label>
                <input asp-for="Photo3" class="form-control" />
                <span asp-validation-for="Photo3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo4" class="control-label"></label>
                <input asp-for="Photo4" class="form-control" />
                <span asp-validation-for="Photo4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataReceptionDate" class="control-label"></label>
                <input asp-for="DataReceptionDate" class="form-control" />
                <span asp-validation-for="DataReceptionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaiementDate" class="control-label"></label>
                <input asp-for="PaiementDate" class="form-control" />
                <span asp-validation-for="PaiementDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnteredByOld" class="control-label"></label>
                <input asp-for="EnteredByOld" class="form-control" />
                <span asp-validation-for="EnteredByOld" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditorStaffId" class="control-label"></label>
                <select asp-for="EditorStaffId" class="form-control" asp-items="ViewBag.EditorStaffId"></select>
                <span asp-validation-for="EditorStaffId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditorStaffId2" class="control-label"></label>
                <select asp-for="EditorStaffId2" class="form-control" asp-items="ViewBag.EditorStaffId2"></select>
                <span asp-validation-for="EditorStaffId2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TmpId" class="control-label"></label>
                <input asp-for="TmpId" class="form-control" />
                <span asp-validation-for="TmpId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

